{% extends "base.html.twig" %}

{% block title %}CookEat - Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid shadow text-center">
        <h1 class="display-4 mb-4">Bienvenue sur CookEat!</h1>
        <p class="lead">CookEat est une application qui va vous pernettre de créer des recettes d'indrédient que vous allez vous-même créer. Vous pourrez partager vos recettes à la communauté du site.</p>
        <hr class="my-4">
      {% if app.user %}
          <p>
            Commencer à créer et accéder à toutes les recettes.
          </p>
          <a class="btn btn-success btn-lg m-auto" href="#" role="button">
            Mon compte
          </a>
      {% else %}
          <p>
            Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.
          </p>
          <a class="btn btn-success btn-lg m-auto" href="{{ path('app_register') }}" role="button">
            Créer un compte
          </a>
      {% endif %}
      </div>
      <div class="recipes">
        <h2>Recettes de la communauté</h2>
    
    
      <div class="d-flex justify-content-between mb-4 mt-4">
        {% for recipe in recipes %}
    
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src=".../100px180/?text=Image cap"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Difficulté: {{ recipe.difficulty }}</li>
            <li class="list-group-item">
              Nombre de personnes: {{ recipe.nbPeople }}
            </li>
            <li class="list-group-item">Temps: {{ recipe.time }}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    
        {% endfor %}
      </div>
      </div>
</div>

   

{% endblock %}